.feynman__link {
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    position: absolute;
    right: 48px;
    top: 50%;
    width: 240px;
    text-decoration: none;
    color: #000;
    z-index: 1;
    opacity: 1;
    transition: 1s;
  }
  .feynman__link:hover {
    opacity: 0.55;
  }