.cover__title {
    margin: 4rem 1rem 0.4375rem 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center; 
    color: #FFFFFF;
}


@media (min-width: 375px) {
    .cover__title {
        margin: 6.5rem 1rem 0.4375rem 1rem;
    }
}

@media (min-width: 768px) {
    .cover__title {
      
        font-size: 72px;
        line-height: 78px;
        text-align: center;
    }
}