.cover__subtitle {
    margin: 3.4375rem 1rem 1.5rem 1rem; 
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .cover__subtitle {
        width: 23.875rem;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        line-height: 26px;

    }
}